In [1]:
import pandas as pd
import numpy as np

In [2]:
str ="Python course"

In [3]:
 # The first character of the ‘str’

In [6]:
str[0]

'P'

In [7]:
 # 2nd to 5th character of the ‘str’

In [8]:
str[2:5]

'tho'

In [9]:
 # Last character of the ‘str’

In [10]:
str[-1]

'e'

In [11]:
 #  The reverse of ‘str’ i.e. 'esruoc nohtyP'

In [15]:
 reverse = str[::-1]

In [16]:
print(reverse)

esruoc nohtyP

In [17]:
# Every alternate character (1st, 3rd, 5th…..) of ‘str’

In [24]:
str[1:4]

'yth'